body
{
	background-color: WhiteSmoke;
	border-left: 2px solid black
	border-right: 2px solid black

}


#tp-global

{
	text-align= center;
	margin: auto;
	margin-top: 100px;
	margin-bottom:100px;
	background-color: WhiteSmoke; 
	width: 1100px;
	height: 502px;
	text-align: center;
    border: 4px solid DimGray;

  	position: relative;
  }





#tp-centre

{
	position: absolute;
	top:49px;
	left:0px;
	height: 410px;
	width:1099px;
	padding-top: 6px;
	text-align: center;
	background-color: WhiteSmoke;
	float: left;
    text-align: center;
}

#tp-pieddepage

{
	background-color:DimGray;
	position: absolute;
	top:465px;
	left:0px;
	float: left;
    text-align: center;
    height: 40px;
	width:1100px;
}



#tp-home
{
	position: absolute;
	top:3px;
	left:0px;
    text-align: center;
   	height: 35px;
	width:145px;
}



#tp-instructions
{
	background-color: WhiteSmoke;
	position: absolute;
	top:3px;
	left:150px;
	height: 32px;
	width:640px;
    text-align: center;
    color:CornflowerBlue;
    padding-top: 3px;
    }

#tp-help
{

	position: absolute;
	top:3px;
	left:796px;
	text-align: center;
	color: CornflowerBlue;
	height: 35px;
	width:150px;
}



#tp-suivant
{
position: absolute;
	top:3px;
	left:950px;
   text-align: center;
   color:Crimson;
   	height: 35px;
	width:150px;
}

#tp-titremodule
{
	position: absolute;
	top:-1px;
	left:-2px;
	background-color: WhiteSmoke;
	height: 40px;
	width:500px;
	color:Crimson;
    text-align: center;
    border: 2px solid DimGray;


}
#tp-titresousmodule

{	position: absolute;
	top:-1px;
	left:398px;
	background-color: WhiteSmoke;
	color: CornflowerBlue;
    text-align: center;
    margin: auto;
    height: 40px;
	width:698px;
	border: 2px solid DimGray;
	text-align: center;

}

#tp-titre
{
position: absolute;
	top:-14px;
	left:20px;
	text-align: center;
}


#tp-soustitre
{
position: absolute;
	top:-14px;
	left:20px;
	text-align: center;

}
