body
				{
			
    			background-color: WhiteSmoke; 
   	 	 
    			border-left: 2px solid black
    			border-right: 2px solid black
    			
					}


#global

{	text-align= center;
	margin: auto;
	margin-top: 100px;
	margin-bottom:100px;
	background-color: WhiteSmoke; 
	width: 1100px;
	height: 502px;
	text-align: center;
    border: 4px solid DimGray;
  
  	position: relative;
  	
  	
    }





#centre

	{ 
	position: absolute;
	top:49px;
	left:0px;
	height: 410px;
	width:1099px;
	padding-top: 6px;
	text-align: center;
	background-color: WhiteSmoke; 
	float: left;
    text-align: center;
	}
#pieddepage

	{
	
	background-color:DimGray;
	position: absolute;
	top:465px;
	left:0px;
	float: left;
    text-align: center;
    height: 40px;
	width:1100px;
	
	}



#home 
	{
	position: absolute;
	top:6px;
	left:0px;
    text-align: center;
   	height: 35px;
	width:150px;
    }
    
    
    
#instructions
{
	background-color: WhiteSmoke; 
	position: absolute;
	top:3px;
	left:150px;
	height: 32px;
	width:750px;
    text-align: center;
    color:CornflowerBlue;
    Padding-top: 3px; 
    }
    
#help
{
	
	position: absolute;
	top:4px;
	left:900px;
	text-align: center;
	color: CornflowerBlue;
	height: 35px;
	width:100px;
}
#aide
{
	color: Crimson;
}
#nextpage
{
	color: CornflowerBlue;
}


#suivant
{
position: absolute;
	top:4px;
	left:1000px;
   text-align: center;
   color:Crimson;
   	height: 33px;
	width:100px;
}

#titremodule
{
	position: absolute;
	top:-1px;
	left:-2px;
	background-color: WhiteSmoke; 
	height: 40px;
	width:500px;
	color:Crimson;
    text-align: center;
    border: 2px solid DimGray;
    
    
}
#titresousmodule

{	position: absolute;
	top:-1px;
	left:398px;
	background-color: WhiteSmoke; 
	color: CornflowerBlue;
    text-align: center;
    margin: auto;	
    height: 40px;
	width:698px;
	border: 2px solid DimGray;
	text-align: center;

}

#titre
{
position: absolute;
	top:-14px;
	left:20px;
	text-align: center;
}


#soustitre
{
position: absolute;
	top:-14px;
	left:20px;
	text-align: center;

}

#LogoAsteelflash
{

margin-bottom: 15px;
}    
 
footer
{	
	
    color: CornflowerBlue
}


#LogoAsteelflash
{

margin-bottom: 15px;

}    

 
input
{	
	
   width:90px;
}