body{
  width: 100%;
  height: 100%;

  background-color: WhiteSmoke;

  border-left: 2px solid black
  border-right: 2px solid black
}


#global{
  text-align= center;
  margin: auto;
  background-color: WhiteSmoke;
  width: 1100px;
  height: 502px;
  text-align: center;
  border: 4px solid DimGray;

  position: relative;
}


.draggable { width: 100px; height: 100px; padding: 0.5em; display: inline-block; margin: 10px 10px 10px 0; }
.droppable { width: 150px; height: 150px; padding: 0.5em; display: inline-block; margin: 10px; }
