 h1
 {
	color:#F90E0E;
    text-align: center;
    margin: 15px;      
}
            

body
{
	background-color: WhiteSmoke; 
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	font-family: Calibri;
}

#titre 

{	
	text-align= center;
	margin: auto;
	color: DimGray;
   	width: 500px;
	height: 102px;
	position: relative;
  	text-align: center; 
}
	
#global

{	
	text-align: center;
	margin: auto;
	background-color: WhiteSmoke; 
	width: 600px;
	height: 352px;
	text-align: center;
  	border: 4px #1E64B3 groove;
    border-left: 4px #F90E0E groove;
    border-right: 4px #F90E0E groove;
  	position: relative;
 }



#mail 

{	
	color: DimGray;
	height: 100px;
	width:600px;
	position: absolute;
	top:0px;
	left:0px;

}


footer
{
	position: absolute;
    right: 50px;
    bottom: 10px; 
    color: CornflowerBlue;
}



#LogoAsteelflash
{
	margin-bottom: 15px;

} 

input
{
	width:172px;
	margin:1px;
} 

.tailleM
{
	font-size:2em;
}
.tailleP
{
	font-size:0.8em;
}
select

{	
	width:180px;
}

#tb_email
{
	width:57px;
}



button
{
	width:100px;
	border-radius:5px;
	background-color:white;
}