 h1
{
	color: Crimson;
    background-color:; 
    text-align: center;
    margin: 15px;
}
            
        
.imageflottante
           
{
	float: ;
}

body
{			
	background-color: WhiteSmoke; 
	border-left: 2px solid black
	border-right: 2px solid black
	border-left: 2px solid black
	border-right: 2px solid black
}

#titre 
{	
	text-align= center;
	margin: auto;
	color: DimGray;
   	width: 500px;
	height: 152px;
	position: relative;	
  	text-align= center;
}
	
#global
{	
	margin: auto;
	background-color: WhiteSmoke; 
	width: 600px;
	height: 302px;
	text-align: center;
  	border: 4px CornflowerBlue groove;
    border-left: 4px Crimson groove;
    border-right: 4px Crimson groove;
  	position: relative;
}



#mail 

{	
	text-align: center;
	color: DimGray;
	height: 100px;
	width:600px;
	position: absolute;
	top:50px;

}


footer
{
	position: absolute;
    right: 50px;
    bottom: 10px; 
    color: CornflowerBlue
}



#LogoAsteelflash
{
	margin-bottom: 15px;
} 



.bouton
{
	margin: 2px;
	width:120px;
}





