 h1
{
	color:#CE1126;
    background-color:; 
    text-align: center;
    margin: 15px;
}
            
        

body
{			
	background-color: WhiteSmoke; 
    font-family: Calibri;
    color:#666366;
}

#titre 
{	
	text-align= center;
	margin: auto;
   	width: 500px;
	height: 152px;
	position: relative;	
  	text-align:center;
}
	
#global
{	
	margin: auto;
	background-color: WhiteSmoke; 
	width: 600px;
	height: 302px;
	text-align: center;
  	border: 4px #0038A8 groove;
    border-left: 4px #CE1126 groove;
    border-right: 4px #CE1126 groove;
  	position: relative;
}



#mail 

{	
	text-align: center;
	height: 100px;
	width:600px;
	position: absolute;
	top:50px;

}


footer
{
	position: absolute;
    right: 50px;
    bottom: 10px; 
   color:#0038A8;
}



#LogoAsteelflash
{
	margin-bottom: 15px;
} 



button{
	width:125px;
	z-index:1000;
	border-radius:5px;
	background-color:white;
}

input
{
margin:1px;
padding:7;
width:140px;

} 



